@{
    ViewData["Title"] = "Lista de Produtos";
}

<div class="row marginTop">

    @{ foreach (Produtos produto in Model.Produtos)
        {
            @Html.Partial("Detalhes", produto)
        }

    }

</div>



