

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<h5>@Model.CategoriaAtual</h5>

@{ foreach (Produtos produto in Model.Produtos)
    {
         @Html.Partial("Detalhes", produto)
    }

}



