@using site.ViewModels
@model ProdutoListViewModel

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<h5>@Model.CategoriaAtual</h5>

@{ foreach (var produto in Model.Produtos)
    {
        <div>
            <h4>Nome: @produto.Nome</h4>
            <p>Valor: @produto.Preco.ToString("c")</p>
        </div>

    }

}



